
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.main{
    height: 70%;
    width: 100%;
    float: left;
}
.logo{
    width:25%;
    height: 20%;
    position: absolute;
    float: left;
}
.button{
  float: right;
  width: 35%;
  font-size: x-large;
}
#net{
    padding-left:10% ;
}
.sidebar{
    position: absolute;
    height: 100%;
    background-color: red;
    width: 20%;
    top: 20%;
    padding: 5%;
}
.list{
    text-align: center;
    font-size: 30px;
    padding-top: 35%;
    border-bottom: 2px solid yellow;
}
footer{
    display: flex;
    justify-content: center;
    background-color: royalblue;
    font-size: 30px;
    margin-top:60% ;
    height: 30% ;
}
.content{
    position: absolute;
    display: inline;
    /* padding: 10%; */
    top: 20%;
    margin-left: 16%;
    height: 100%;
    width:83%;
    background-color: whitesmoke;
}
.IMG1{
    display: flex;
    
    width: 100%;
    top: 1%;
}
.img1, .img2{
    width: 20%;
    height: 20%;
    padding: 1%;
}
.IMG2{
    display: flex;
    align-items: center;
    width: 100%;
}
.img3,.img4,.img5,.img6,.img7{
    width: 20%;
    height: 20%;
    padding: 1%;
    margin-top: 10%;
}
img{
    max-width: 100%;
    height: auto;
}
@media (max-width:450px){
    .content{
        width: 100%;
    }
}